
body {
     width:100% ;
     overflow-x: hidden;
}

.ulUpdate {
    background: rgba(200,200,200);
}

#description {
    resize: none;
    width: 100%;
}

.commentArea {
    resize: none;
}

div .comment {
    height: 43vh;
}

#chartContainer {
    height: 25em;
}

.loginToSignup {
    text-decoration: none
}

.signupToLogin {
    text-decoration: none
}
